@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jacques+Francois+Shadow&family=Jomolhari&family=Outfit:wght@100..900&family=Pinyon+Script&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style-type: none !important;
  scroll-behavior: smooth !important;
  font-family: "Outfit", serif;
}
.logo{
  height: 100px;
  width: 170px;
}


a {
  text-decoration: none !important;
}

body {
  scroll-behavior: smooth !important;
}

.overflow_hidden {
  overflow-x: hidden !important;
}

/*--------------------------------- ROOT-DEFINE-VALUES --------------------------------- */
:root {
  --color-black: #000000;
  --color-red: #dd0000;
  --color-white: #ffffff;
  --color-brown: #ffae00;
  --body-color: #f5f7fa;
  --color-black-02: #0d0b0b;
  --color-dark-grey: #ebedf0;
  --color-grey-01: #3d464d;
  --light-grey: #f5f7fa;
  --light-blue: #2C2767;
  --color-green: #54b435;
  --color-blue: #0019ff;
  --ff-outfit: "Outfit", sans-serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;

  --fs-xxxs: 10px;
  --fs-xxs: 12px;
  --fs-xs: 14px;
  --fs-sm: 16px;
  --fs-2sm: 18px;
  --fs_3sm:25px;
  --fs-lg: 30px;
}

/*--------------------- DEFINE-ALL = ROOT-VALUE ------------------------------ */
.white {
  color: var(--color-white);
}





.layer {
  background-color: #0000006f;
  backdrop-filter: blur(15px);
}

.bg_white {
  background-color: var(--color-white) !important;
}

.black {
  color: var(--color-black);
}

.color_brown {
  color: var(--color-brown);
}

.bg_light_grey {
  background-color: #f5f7fa;
}

.color_black_02 {
  color: var(--color-black-02);
}



input[type="range"] {
  accent-color: #ffae00;
}
.color_dark_grey {
  color: var(--color-dark-grey);
}

.light_grey {
  color: var(--color-grey-01);
}

.color_light_blue {
  color: var(--light-blue);
}

.color_green {
  color: var(--color-green);
}

.border_text {
  border: 1px solid #54b43533;
}

.color_blue {
  color: var(--color-blue);
}

.color_red {
  color: var(--color-red);
}

.bg_black {
  background-color: var(--color-black-02);
}

.bg_brown {
  background-color: var(--color-brown);
}

.bg_grey {
  background-color: var(--color-grey-01) !important;
}

.bg_dark_grey {
  color: var(--color-dark-grey) !important;
}

/*---------------------------- DEFINE-ALL = FONT-SIZES ---------------------------- */
.fs-xxxs {
  font-size: var(--fs-xxxs) !important;
}

.fs-xxs {
  font-size: var(--fs-xxs) !important;
}

.fs-xs {
  font-size: var(--fs-xs) !important;
}

.fs-sm {
  font-size: var(--fs-sm) !important;
}

.fs-2sm {
  font-size: var(--fs-2sm) !important;
}
.fs-3sm{
  font-size: var(--fs_3sm);
}

.fs-lg {
  font-size: var(--fs-lg) !important;
}

.fs_24 {
  font-size: 24px !important;
}


/*---------------------------- DEFINE-ALL = FONT-WEIGHT ---------------------------- */
.fw-300 {
  font-weight: 300;
}


.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

/*---------------------------- DEFINE-ALL = FONT-FAMILY---------------------------- */

.ff-outfit {
  font-family: var(--ff-outfit);
}

/*------------------------ DEFINE-ALL = @media----FONT SIZE-SET--------------------  */

@media (max-width: 1199.98px) {
  :root {
    --fs-xxs: 12px;
    --fs-xs: 14px;
    --fs-sm: 16px;
    --fs-lg: 20px;
  }
}
.min_160 {
  min-width: 160px;
  width: 160px;
}

.categories_xl_overflow_X {
  min-width: 1000px;
}


.ql-editor::-webkit-scrollbar {
  width: 3px;
}

.table_body {
  display: block !important;
  height: calc(100vh - 265px) !important;
  height: 100%;
  overflow-y: auto !important;
}
.table_body3 {
  height: 100%;
  display: block !important;
  overflow-y: auto !important;
}

.rotate_180 {
  transform: rotate(180deg);
}

.table_head,
.table_body tr {
  display: table !important;
  width: 100% !important;
  table-layout: fixed !important;
}

.table_head,
.table_body2 tr {
  display: table !important;
  width: 100% !important;
  table-layout: fixed !important;
}
.table_head,
.table_body3 tr {
  display: table !important;
  width: 100% !important;
  table-layout: fixed !important;
}



.popup_input {
  border: 0.5px solid #0000004d !important;
  padding: 10px 15px;
  outline: 0;
  margin-top: 10px;
}

.popup_coupon_input {
  padding: 15px 10px 15px 10px;
  border-radius: 5px;
  background: #ebedf0;
  outline: none;
  border: 1px solid transparent;
}

.border_top_gray {
  border-top: 0.5px solid #0000004d;
}

.dropdown_btn_text {
  color: #00000080 !important;
}
.bg_green_yellow {
  background-color: #2C2767;
}

.step_bg {
  background-color: #33495f;
  padding: 21px 10px;
  cursor: pointer;
}

.active_step_bg {
  background-color: #2C2767 !important;
  padding: 21px 10px;
  cursor: pointer;
}

.date_btn {
  padding: 5.34px 10.67px 5.34px 10.67px;
  border: 0.53px solid black;
  background-color: transparent;
  border-radius: 10px;
}

.next_btn {
  padding: 12px 20px;
  background-color: #2C2767;
  border-radius: 10px;
  margin-top: 10px;
  border: 0;
  outline: 0;
}

.steps_data {
  padding: 20px;
  background-color: #f0f4f7;
}

.min_width_700 {
  min-width: 700px;
}

.steps::-webkit-scrollbar {
  height: 5px;
}

.ql-toolbar.ql-snow {
  border: transparent !important;
}

.bg_green {
  background-color: #def2d0;
}

.ql-container.ql-snow {
  border: transparent !important;
}

.no-scroll {
  overflow: hidden !important;
}

.ql-editor {
  height: 200px !important;
  /* Adjust the value to your desired fixed height */
  overflow-y: auto;
  /* Adjust the value to your desired height */
}

.custom-underline {
  text-decoration: underline !important;
  /* Add any additional custom properties here */
}

.add_color_btn {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.194);
  padding: 12px 20px;
  border-radius: 50px;
}

.color_add_input {
  border: 1px solid rgba(0, 0, 0, 0.194);
  padding: 0px 20px;
  border-radius: 50px;
  height: 47px;
}

.order_details_bill {
  position: absolute;
  right: 2%;
  top: -100px;
  z-index: -5;
}

.color_add_input input {
  border: 0;
  outline: 0;
  padding: 0;
  background-color: transparent;
  width: 60px;
}

@media (max-width: 576px) {
  :root {
    --fs-xxs: 11px;
    --fs-xs: 12px;
    --fs-sm: 14px;
    --fs-2sm: 16px;
    --fs-lg: 20px;
  }
  .w_xsm_100{
    width: 250px !important;

  }
}
@media (min-width: 576px) {
  :root {
    --fs-xxs: 11px;
    --fs-xs: 12px;
    --fs-sm: 14px;
    --fs-2sm: 16px;
    --fs-lg: 20px;
  }
 .w_sm_320{
  width: 200px;
  height: 340px;
 }
}




























